
{% extends "ProyectoApp/base.html" %}
{% load static %}
{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoApp/img/imagen2.jpg' %}" alt="" style="width: 50%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded"style="background-color: #CC981F;">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Tecnologías</span>
            <span > <FONT SIZE=6>Seguridad Informática</font></span>
          </h2>
          <p class="mb-3">Contamos con los mejores servicios y productos para una buena identificación evitando el fraude cibernético
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto" >
            <div class="cta-inner text-center rounded"style="background-color: #CC981F;">
              <h2 class="section-heading mb-4"> 
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Equipo</span>
              </h2>
              <p class="mb-0">Somos un equipo de 60 personas que crece cada día, con presencia en más de 15 países. La mayoría del equipo está centrado en la innovación.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
